
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-image: linear-gradient(to right, white 30%, cyan);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  /* background-color: #de9000; */
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}